.border__e92227 {
    border: 2px solid #e92227;
    width: 100%;
    height: 1px;
}
.active__value {
    background-image: linear-gradient(180deg, #f14130, #fb6539);
    border-radius: 8px;
    color: white !important;
    cursor: pointer;
}
@mixin img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}
.img-slide {
    display: flex;
    gap: 12px;
}
.slide-item {
    @include img;
    width: 120px;
    height: 98px;
    cursor: pointer;
    box-shadow: 0 0 4px #0000;
    border: 1px solid #e92227;
    border-radius: 4px;
    &:hover {
        transform: scale(102%);
    }
}
