.flex-box select {
  background-color: #f3f3f3;
  width: 140px;
  height: 40px;
  text-align: center;
  border: 0px;
  border-radius: 5px;
}
.colorred {
  color: blueviolet;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.content-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.ProductsShopTable {
  width: 100%;
  .ProductsShopTable__row {
    display: flex;
    align-items: center;
    gap: 6px;
    width: 100%;
  }
}
